.container {
    margin: auto;
    height: 736px;
    width: 736px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}


div {
    height: 44px;
    width: 44px;
    border: solid grey 1px;
    
}


.active {
    background-color: rgb(0, 255, 0);
}

